<div class="container-fluid h-100 p-0" fxLayout="column">
    <header fxFlex="80px" class="padding2030">
        <span class="mat-display-1">About me</span>
        <hr>
    </header>
    <div fxFlex class="padding2030">
        <span class="display-block">
            Hi, My name is Bibek Saini and I am full stack software engineer and currently I am working as senior software engineer at scandinavian company called CatalystOne.            
        </span>
        <span class="display-block">
            
        </span>
        

    </div>
</div>