<div class="gallery-wrapper">
    <div class="grid">
        <div class="grid__item grid__item--lg">
            <div class="caption">
                <h1>Aspect ratio grid - responsive</h1>
                <p>16:9 on small screens, 1:1 on larger screens</p>
            </div>
            <img src="https://images.unsplash.com/photo-1509408895711-7eda6e83c637?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1844cab997dc2e5f1ce14e3b9cbd0bc1&auto=format&fit=crop&w=1500&q=80" alt="Starry sky" width="100%" height="auto">
        </div>
        <div class="grid__item grid__item--sm"></div>
        <div class="grid__item grid__item--sm"></div>
        <div class="grid__item grid__item--db">
            <p>Stars are luminous spheres made of plasma – a superheated gas threaded with a magnetic field. They are made mostly of hydrogen, which stars fuse in their cores. That process releases energy, which pushes against the weight of the outer layers of the star and keeps it stable. The energy is also released as heat and light, which are radiated out to space. Stars are the main components of galaxies, and were among the first objects to form in the early universe. The closest star to Earth is the Sun.</p>
        </div>
        <div class="grid__item grid__item--lg grid__item--right">
            <img src="https://images.unsplash.com/photo-1502656109408-152680a8ad1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=40e160d54f5831df3d12204916d8edb1&auto=format&fit=crop&w=1950&q=80" alt="Starry sky" width="100%" height="auto">
        </div>
        <div class="grid__item grid__item--sm"></div>
        <div class="grid__item grid__item--db">
            <p>Star formation happens in clouds of interstellar gas and dust called “nebulae”. These clouds are mostly molecular hydrogen, and are often referred to as HII regions. The process begins when the cloud is nudged into a spinning motion, perhaps by a shock wave from a nearby supernova explosion. Clumps begin to form, and they get hotter and hotter as they gain more mass. When the temperature inside such a “young stellar object” reaches 10 million degrees Celsius, a process called “nuclear fusion” ignites, and a star is born.</p>
            <p><a href="https://space-facts.com/stars/">space-facts.com</a></p>
        </div>
        <div class="grid__item grid__item--sm"></div>
    </div>
</div>