<div class="container-fluid p-0" fxLayout="column">
    <header fxFlex="80px" class="padding2030">
        <span class="mat-display-1">Gallery</span>
        <hr>
    </header>

    <div fxFlex class="padding2030 text-center">
        <span class="mat-small display-block m-0">A glimps of mockups on which I worked on.</span>
    </div>
    <div fxFlex class="cotainer-fluid padding2030" fxLayout="row wrap" fxLayoutAlign="center">
        
        <div fxFlex="180px" fxFlex.xs="50%" class="p-2">
            <div>
                <img src="assets/gallery/taskboards.png" (click)="viewImage()" class="gallery-thumb">
            </div>
        </div>
        <div fxFlex="180px" fxFlex.xs="50%" class="p-2">
            <div>
                <img src="assets/gallery/taskboards.png" class="gallery-thumb">
            </div>
        </div>        
    </div>
</div>