<div class="container-fluid p-0" fxLayout="column">
    <header fxFlex="80px" class="padding2030">
        <span class="mat-display-1">Gallery</span>
        <hr>
    </header>

    <div class="text-center padding1015">
        <span>Some mockups on which I worked.</span>        
    </div>

    <div class="gallery-wrapper padding2030">
        <div class="grid">
            <div *ngFor="let mockupThumb of displayableMockups" [ngClass]="mockupThumb.SIZE" class="grid__item animate__animated animate__zoomIn animate__faster">                
                <img [src]="mockupThumb.IMG_THUMB">
            </div>
        </div>
    </div>
</div>
