<mat-card mat-dialog-content class="m-0 p-0" style="width: 100%;">
  <header class="container-fluid shadow-1 position-relative p-1" >
    <div fxFlex="1.2rem">
        <button mat-icon-button class="vertical-center" matDialogClose>
            <fa-icon [icon]="faTimes" style="font-size: 1.2rem;" ></fa-icon>
        </button>
    </div>
    <div fxFlex class="text-center">
        <span class="mat-h1 vertical-center" style="white-space: nowrap;">Project title</span>
    </div>
  </header>

  <div class="padding2030">

  </div>
</mat-card>