mat-dialog-content {
  min-width: 320px;
  max-height: 100vh;
  // max-width: 1440px;
  // overflow: hidden;
  // overflow-y: scroll;

  
}

.dialog-header {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  margin: 0 !important;

  & fa-icon {
    cursor: pointer;
  }
}
