.profile-image{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0,0,0,0.4);  
}

.profile-image-skeleton{    
    height: 350px;
    width: 350px;
    border-radius: 50%;

    background: linear-gradient(        
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;        
  background-size: 50px 200px;        
  background-position: 0 0;  
  animation: shine 1s infinite;
}

@keyframes shine {	
    to {
      background-position: 100% 0, /* move highlight to right */ 0 0;
    }
  }