<div class="container-fluid">
    <div fxFlex="630px" fxLayout="column" class="centralize container-fluid p-0">
        <div fxFlex>
            <div fxFlex="360px" class="">
                <img src="assets/profile-image/profile-image.jpg" class="profile-image">
            </div>
            <div fxFlex>
            <div class="vertical-center">
                <span class="mat-h3 display-block m-0">Hi, my name is</span>
                <span class="mat-display-1 display-block m-0">Bibek Saini.</span>
                <span class="mat-h1 display-block m-0">I build things for web</span>
                <span class="mat-h4 display-block mt-2">I'm a full stack software engineer based in Mohali, IN specializing in designing architecture, developing and deploying SAAS applications, and everything in between.</span>
            </div>
        </div>        
        </div>
        <div fxFlex class="padding1015 text-center">
            <button type="button" mat-icon-button>
                <fa-icon [icon]="faGithub" style="font-size: 30px;"></fa-icon>
            </button>
            <button type="button" mat-icon-button>
                <fa-icon [icon]="faLinkedin" style="font-size: 30px;"></fa-icon>
            </button>
            <button type="button" mat-icon-button>
                <fa-icon [icon]="faFacebook" style="font-size: 30px;"></fa-icon>
            </button>
            <button type="button" mat-icon-button>
                <fa-icon [icon]="faInstagram" style="font-size: 30px;"></fa-icon>
            </button>
        </div>

    </div>
</div>