<div class="container-fluid info-card">
  <div class="row text-center">
    <div class="col-6">
      <img src="assets/profile-image.jpg" class="profile-image animate__animated animate__zoomIn animate__faster">
    </div>
    <div class="col text-left" style="max-width: 400px;">
      <div class="centralize w-100">
        <span class="mat-h3 display-block m-0">Hi, my name is</span>
        <span class="mat-display-1 display-block m-0">Bibek Saini.</span>
        <span class="mat-h1 display-block m-0">I build things for web</span>
        <span class="mat-h4 display-block mt-2">I'm a full stack software engineer based in Mohali, IN specializing in designing architecture, developing and deploying SAAS applications, and everything in between.</span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button mat-icon-button link="github">
      <fa-icon [icon]="faGithub" 
                matTooltip="GitHub"
                matTooltipPosition="above"></fa-icon>
    </button>
    <button mat-icon-button link="linkdin">
      <fa-icon [icon]="faLinkedin" 
                matTooltip="LinkedIn"
                matTooltipPosition="above"></fa-icon>
    </button>
    <button mat-icon-button link="facebook">
      <fa-icon [icon]="faFacebook" 
                matTooltip="Facebook"
                matTooltipPosition="above"></fa-icon>
    </button>
    <button mat-icon-button link="instagram">
      <fa-icon [icon]="faInstagram" 
                matTooltip="Instagram"
                matTooltipPosition="above"></fa-icon>
    </button>
    <hr/>
  </div>
</div>