<div class="container-fluid h-100 p-0" fxLayout="column">
    <header fxFlex="80px" class="padding2030">
        <span class="mat-display-1">Projects</span>
        <hr>
    </header>

    <app-custom-list></app-custom-list>
    <div fxFlex class="padding2030 container-fluid">
        <div fxFlex="240px" style="border-radius: 0.25rem;background-color: black;">
            <ul class="mt-5">
                <li matTooltip="Task Manager" 
                    matTooltipPosition="right">
                    <div class="info">
                        <span class="mat-h2 display-block m-0 ml-2">Task Manager</span>
                        <span class="mat-small display-block m-0 ml-2 label">Micro-service App</span>
                    </div>
                </li>
                <li matTooltip="Mailer" 
                    matTooltipPosition="right">
                    <div class="info">
                        <span class="mat-h2 display-block m-0 ml-2">Mailer</span>
                        <span class="mat-small display-block m-0 ml-2 label">Micro-service App</span>
                    </div>
                </li>
                <li matTooltip="Music Store" 
                    matTooltipPosition="right">
                    <div class="info">
                        <span class="mat-h2 display-block m-0 ml-2">Music Store</span>
                        <span class="mat-small display-block m-0 ml-2 label">Micro-service App</span>
                    </div>
                </li>
                <li matTooltip="Chat Bot" 
                    matTooltipPosition="right">
                    <div class="info">
                        <span class="mat-h2 display-block m-0 ml-2">Chat Bot</span>
                        <span class="mat-small display-block m-0 ml-2 label">Micro-service App</span>
                    </div>
                </li>
                <li matTooltip="Import Export Utility" 
                    matTooltipPosition="right">
                    <div class="info">
                        <span class="mat-h2 display-block m-0 ml-2 " >Import Export Utility</span>
                        <span class="mat-small display-block m-0 ml-2 label">Micro-service App</span>
                    </div>
                </li>
            </ul>
        </div>
        <div fxFlex>

        </div>
    </div>
</div>