<div class="container-fluid h-100 p-0" fxLayout="column">
    <header fxFlex="80px">
        <span class="mat-display-1">Projects</span>
        <hr>
    </header>
    <div fxFlex>
        <div class="container-fluid padding1015 mt-3" fxLayoutAlign="center" fxLayout="row wrap">
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
            <div fxFlex="320px" class="p-3" style="position: relative;">
                <!-- Project card -->
                <mat-card class="project-card">
                    <header>
                        <span class="mat-h2 display-block m-0">Task Manager</span>
                        <span class="mat-small display-block m-0">Micro-services App</span>
                        <hr class="mb-0"/>
                    </header>
                    <div class="pt-2 pb-2 project-intro">
                        <span class="mat-body">Task manager is built on micro-services architecture providing management services like invoice manager and task board. </span>
                    </div>
                    <div>

                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>