<div class="container-fluid">
  <div class="row">
    <div class="col-4 padding2030">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Task manager</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/projects/taskmanager/taskmanager-architecture.png" alt="Task manager">
      </mat-card>
    </div>
    <div class="col-4 padding2030">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Invoice manager</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/projects/taskmanager/taskmanager-architecture.png" alt="Photo of a Shiba Inu"> -->
      </mat-card>
    </div>
    <div class="col-4 padding2030">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Task boards</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/projects/taskmanager/taskmanager-architecture.png" alt="Photo of a Shiba Inu"> -->
      </mat-card>
    </div>
    <div class="col-4 padding2030">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Music store</mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="assets/projects/taskmanager/taskmanager-architecture.png" alt="Photo of a Shiba Inu"> -->
      </mat-card>
    </div>
  </div>
</div>