<div class="timeline">
    <h2 class="timeline__item timeline__item--year">May 2018 - Present</h2>
    <div class="timeline__item">
        <h3 class="timeline__title" title="Software Engineer.">Software Engineer.</h3>
        <hr class="m-0"/>
        <p class="timeline__blurb">CatalystOne Solutions</p>
        <!-- <ul>
            <li>Test</li>
            <li>Test</li>
        </ul> -->
    </div>

    <h2 class="timeline__item timeline__item--year">July 2016 - May 2018</h2>
    <div class="timeline__item">
        <h3 class="timeline__title" title="Associate Software Engineer.">Associate Software Engineer.</h3>
        <hr class="m-0"/>
        <p class="timeline__blurb">CatalystOne Solutions</p>
        
    </div>

    <h2 class="timeline__item timeline__item--year">April 2016 - July 2016</h2>
    <div class="timeline__item">
        <h3 class="timeline__title" title="Trainee.">Trainee.</h3>
        <hr class="m-0"/>
        <p class="timeline__blurb">CatalystOne Solutions</p>
    </div>
</div>