<div class="container-fluid p-0 h-100" fxLayoutGap="10px" fxLayout="column">  
  <div fxFlex>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faHome" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Home
        </ng-template>
        <div class="padding2030 max-content-width margin-auto">
          <app-home></app-home>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faLaptopHouse" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Work
        </ng-template>
        <div class="padding2030 margin-auto" style="max-width: 1000px;">
          <app-work></app-work>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faLaptopCode" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Projects
        </ng-template>
        <div class="padding2030 margin-auto" style="max-width: 1000px;">
          <app-projects></app-projects>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faCogs" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Skills
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faAddressCard" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Contact
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <fa-icon [icon]="faFilePdf" class="mr-1 icon-21 animate__animated animate__zoomIn animate__faster"></fa-icon>
          Resume
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<mat-card class="theme-switcher">
  <mat-slide-toggle [(ngModel)]="themeSwitchState" (change)="switchTheme($event)">
    Dark
  </mat-slide-toggle>
</mat-card>