<div class="container-fluid p-0" fxLayout="column">
    <header fxFlex="80px" class="padding2030">
        <span class="mat-display-1">Contact me</span>
        <hr>
    </header>
    <div fxFlex class="text-center">
        <header class="padding2030" >
            <span class="mat-display-1 display-block m-0">Have Some Questions?</span>            
            <span class="mat-small display-block m-0">Whether have a question or just want to say hi. My Inbox is always open.</span>
            <span class="mat-small display-block m-0">You can write to me and I'll try my best to get back to you</span>                        
        </header>

        <form [formGroup]="contactMeFrom" class="container-fluid" fxLayoutAlign="center">
            <div fxFlex="300px" fxFlex.xs="100%">
                <mat-form-field appearance="outline" class="w-100">
                    <fa-icon [icon]="faUser" matPrefix></fa-icon>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="FIRST_NAME" autofocus>
                    <mat-error *ngIf="(isSendMessageAttempt || (FIRST_NAME != null && FIRST_NAME.touched)) && contactMeFormErrors.FIRST_NAME">
                        {{contactMeFormErrors.FIRST_NAME}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <fa-icon [icon]="faUser" matPrefix></fa-icon>
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="LAST_NAME">
                    <mat-error *ngIf="(isSendMessageAttempt || (LAST_NAME != null && LAST_NAME.touched)) && contactMeFormErrors.LAST_NAME">
                        {{contactMeFormErrors.LAST_NAME}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <fa-icon [icon]="faEnvelope" matPrefix></fa-icon>
                    <mat-label>Whats your email?</mat-label>
                    <input matInput formControlName="EMAIL">
                    <mat-error *ngIf="(isSendMessageAttempt || (EMAIL != null && EMAIL.touched)) && contactMeFormErrors.EMAIL">
                        {{contactMeFormErrors.EMAIL}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <fa-icon [icon]="faEnvelopeOpenText" matPrefix></fa-icon>
                    <mat-label>Your questions...</mat-label>
                    <textarea matInput style="max-height: 200px;min-height: 200px;" formControlName="MESSAGE"></textarea>
                    <mat-error *ngIf="(isSendMessageAttempt || (MESSAGE != null && MESSAGE.touched)) && contactMeFormErrors.MESSAGE">
                        {{contactMeFormErrors.MESSAGE}}
                    </mat-error>
                  </mat-form-field>
                  <div class="text-right p-2">
                    <button mat-raised-button color="primary" (click)="sendMessage()">Send message</button>
                  </div>
            </div>            
        </form>
    </div>
</div>