<div class="sidebar">
    <ul>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faHome" 
                      matTooltip="Home" 
                      routerLink="/"
                      matTooltipPosition="right"></fa-icon>            
        </li>
        <li class="animate__animated animate__zoomIn animate__faster p-2">
            <img src="assets/profile-image/profile-image_40x40.jpg" 
                 routerLink="about-me" 
                 class="profile-icon" 
                 matTooltip="About Me" 
                 matTooltipPosition="right">
        </li>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faLaptopHouse" 
                      matTooltip="Work" 
                      routerLink="work"
                      matTooltipPosition="right"></fa-icon>            
        </li>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faLaptopCode"  routerLink="projects" matTooltip="Projects" matTooltipPosition="right"></fa-icon>            
        </li>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faCogs" routerLink="skills" matTooltip="Skills" matTooltipPosition="right"></fa-icon>                  
        </li>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faIdBadge" routerLink="" matTooltip="Contact Me" matTooltipPosition="right"></fa-icon>                  
        </li>
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faFilePdf" matTooltip="Resume" matTooltipPosition="right" link="resume"></fa-icon>                  
        </li>
        
    </ul>
    <ul class="position-absolute" style="bottom: 10px;">
        <li class="animate__animated animate__zoomIn animate__faster">
            <fa-icon [icon]="faProjectDiagram" 
                      matTooltip="Project docs" 
                      matTooltipPosition="right"></fa-icon>
        </li>
        <li class="pl-0 pr-0">
            <div>
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </div>
            <div>
                <span>Dark Mode</span>
            </div>
        </li>
    </ul>
</div>