<div class="sidebar">
    <ul>
        <li class="pt-3">
            <img src="assets/profile-image/profile-image_40x40.jpg" class="profile-icon" matTooltip="Home" matTooltipPosition="right">
        </li>
    </ul>
    <ul class="mt-4">
        <li>
            <fa-icon [icon]="faLaptopHouse" matTooltip="Work" matTooltipPosition="right"></fa-icon>            
        </li>
        <li>
            <fa-icon [icon]="faLaptopCode" matTooltip="Projects" matTooltipPosition="right"></fa-icon>            
        </li>
        <li>
            <fa-icon [icon]="faCogs" matTooltip="Skills" matTooltipPosition="right"></fa-icon>                  
        </li>
        <li>
            <fa-icon [icon]="faFilePdf" matTooltip="Resume" matTooltipPosition="right"></fa-icon>                  
        </li>
    </ul>
    <ul class="position-absolute" style="bottom: 10px;">
        <li>
            <div>
                <mat-slide-toggle></mat-slide-toggle>
            </div>
            <div>
                <span>Dark Mode</span>
            </div>
        </li>
    </ul>
</div>