.sidebar{
    height: 100%;
    box-shadow: 8px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #424242;
    position: relative;

    ul{                
        padding: 0;
        margin: 0;
        & li{
            list-style-type: none;          
            text-align: center;  
        }
    }
}