<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11">
                <span class="mat-h2">Task Manager</span>
            </div>
            <div class="col-1 text-right p-0">
                <button mat-icon-button>
                    <fa-icon [icon]="faTimes" class="pointer" (click)="close()"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <hr/>
</header>

<div class="padding2030" style="overflow: hidden;overflow-y: auto;">
    <div class="text-center">
        <img src="assets/projects/taskmanager/taskmanager-architecture.png" style="width: 100%;">
    </div>
    <hr/>
    <div>
        <span class="mat-body">Task Manager is a SAAS application based on microservices architecture platform and aim to help with management tools like invoice manager, task boards.</span>
    </div>
</div>