<div class="container-fluid" fxLayout="column">
    <div fxFlex>
        <div class="col-4 margin-auto">
            <div class="text-center">
                <span class="mat-display-1">Full stack</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Backend</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/dotnet.jpg">
                        <img src="assets/java.png">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Frontend</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/angular.png">
                        <img src="assets/html5.png">
                        <img src="assets/jquery.png">
                        <img src="assets/css3.png">                      
                    </div>
                    <div class="skill-set">
                      <img src="assets/js.png">
                      <img src="assets/typescript.png">
                    </div>    
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Database tools</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/sql.png">
                        <img src="assets/mongodb.png">
                        <img src="assets/ssms.png">
                        <img src="assets/azuredatastudio.png">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Deployment</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/kubernetes.png">
                        <img src="assets/docker.png">
                        <img src="assets/azure.png">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Others</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/consul.png">
                        <img src="assets/confluence.png">
                        <img src="assets/jira.png">                    
                        <img src="assets/postman.png">
                    </div>
                    <div class="skill-set">
                        <img src="assets/swagger.png">
                        <img src="assets/git.png">
                        <img src="assets/fork.png">                        
                        <img src="assets/githubdesktop.png">                        
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
    </div>
</div>