<div class="container-fluid" fxLayout="column">
    <div fxFlex>
        <div class="col-4 margin-auto">
            <div class="text-center">
                <span class="mat-display-1">Full stack</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Backend</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/dotnet.jpg" 
                            matTooltip=".net"
                            matTooltipPosition="above">
                        <img src="assets/entityframework.png" matTooltip="Entity framework"
                        matTooltipPosition="above">
                        <img src="assets/java.png" matTooltip="Java"
                        matTooltipPosition="above">
                        <img src="assets/springboot.png" matTooltip="Spring boot"
                        matTooltipPosition="above">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Frontend</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/angular.png" matTooltip="Angular"
                        matTooltipPosition="above">
                        <img src="assets/html5.png" matTooltip="Html5"
                        matTooltipPosition="above">
                        <img src="assets/jquery.png" matTooltip="Jquery"
                        matTooltipPosition="above">
                        <img src="assets/css3.png" matTooltip="CSS3"
                        matTooltipPosition="above">                      
                    </div>
                    <div class="skill-set">
                      <img src="assets/js.png" matTooltip="JavaScript"
                      matTooltipPosition="below">
                      <img src="assets/typescript.png" matTooltip="TypeScript"
                      matTooltipPosition="below">
                    </div>    
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Database tools</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/sql.png" matTooltip="Sql Server"
                        matTooltipPosition="above">
                        <img src="assets/mongodb.png" matTooltip="MongoDB"
                        matTooltipPosition="above">
                        <img src="assets/ssms.png" matTooltip="Sql server management studio"
                        matTooltipPosition="above">
                        <img src="assets/azuredatastudio.png" matTooltip="Azure data studio"
                        matTooltipPosition="above">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Deployment</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/kubernetes.png" matTooltip="Kubernetes"
                        matTooltipPosition="above">
                        <img src="assets/docker.png" matTooltip="Docker"
                        matTooltipPosition="above">
                        <img src="assets/azure.png" matTooltip="Azure"
                        matTooltipPosition="above">
                        <img src="assets/helmcharts.png" matTooltip="Helm charts"
                        matTooltipPosition="above">
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
        <div class="col-4 padding2030">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Others</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="skill-set">
                        <img src="assets/consul.png" matTooltip="Consul"
                        matTooltipPosition="above">
                        <img src="assets/confluence.png" matTooltip="Confluence"
                        matTooltipPosition="above">
                        <img src="assets/jira.png" matTooltip="Jira"
                        matTooltipPosition="above">                    
                        <img src="assets/postman.png" matTooltip="Postman"
                        matTooltipPosition="above">
                    </div>
                    <div class="skill-set">
                        <img src="assets/swagger.png" matTooltip="Swagger OpenApi"
                        matTooltipPosition="below">
                        <img src="assets/git.png" matTooltip="Git"
                        matTooltipPosition="below">
                        <img src="assets/fork.png" matTooltip="Fork"
                        matTooltipPosition="below">                        
                        <img src="assets/githubdesktop.png" matTooltip="Github desktop"
                        matTooltipPosition="below">                        
                    </div>
                    <div class="skill-set">
                        <img src="assets/visualstudiomac.png" matTooltip="Visual studio for mac"
                        matTooltipPosition="below">
                        <img src="assets/visualstudiocode.png" matTooltip="Visual studio code"
                        matTooltipPosition="below">  
                        <img src="assets/intelijidea.png" matTooltip="Intelij idea
                        "matTooltipPosition="below">                                              
                    </div>
                  </mat-card-content>                  
            </mat-card>
        </div>
    </div>
</div>