html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; transition: all 0.5s ease-in-out; }
.vertical-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

.centralize{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  

}

.display-block{
  display: block;
}

.padding1015{
  padding: 10px 15px;
}

.padding2030{
  padding: 20px 30px;
}

.shadow-1{
  box-shadow: 0 1px 8px rgba(0,0,0,0.4);
}

@media (max-width: 768px) {
  /* For tablets phones: */
  [class*="col-"] {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding: 10px;
  }
}

@media (max-width: 425px) {
  /* For mobile phones: */
  [class*="col-"] {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 10px;
  }

  .centralize{
      position: relative;
      transition: none;
      text-align: center;   
      border-color: red;   
  }
}

.ellipses{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
